@font-face {
	font-family: Inter;
	src: url(/fonts/Inter-VariableFont_slnt,wght.ttf);
}

html, body {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background-color: #fff4f4;
	box-sizing: border-box;
	font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.Title{
	margin: auto;
	position: absolute;
	top: 25px;
	left: 240px;
	padding: 35px;
}

/* Side Navigation Bar*/
.sidenav {
	height: 100%;
	width: 225px;
	top: 0;
	left: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	padding-top: 60px;
	position: fixed;
	font-weight: 500;
	margin-top: 5px;
	font-size: 15px;
}

.sidenav ul {
	list-style-type: none;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	width: max-content;
}
.sidenav li a {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	/* color: #898989; */
}
.icon {
	width: 18px;
	padding: 0px 12px 0px 8px;
	float:left;
}
.inactive:hover {
	background-color: #F0F0F0;
}
.active {
	background-color: #ac4949;
	color: white;
}

.inactive {
	background-color: #ffffff;
	color: #898989;
}
.active img{
	filter: brightness(200%);
}

	
/* Top Nagivation Bar */
.topnav {
    height: 55px;
    width: 100%;
    background-color: #ac4949;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 5px 10px lightgray;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}
.logo {
    width: 145px;
    margin-left: 15px;
    margin-top: -7px;
}